body {
    font-family: "DM Sans"; /*Font yang digunakan*/
}

/* Navbar */
.navbar{
  position:fixed;/*Membuat Navbar tetap berada di posisi tertentu pada layar, terlepas dari seberapa jauh pengguna menggulir halaman*/
  z-index: 1; /*Digunakan untuk membuat navbar berada di paling depan dalam tumpukannya*/
}

.navbar-brand{ /*Logo*/
  margin-left: 2rem;
  color: white; /*warna font*/
  font-weight: 700; /*ketebalan*/
  font-size: 30px; /*ukuran font*/
}

.navbar-nav{
  background-color: #d9d9d97d; /*warna background*/
  border-radius: 30px; /*untuk membuat sudutnya melengkung*/
  padding: 2px 20px ; /*padding atas bawah dan kanan kiri nya*/
}

.nav-link{
  color: white;
  font-size: 17px;
  font-weight: 500;
}

/* Bagian Home */
.utama{
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/Home.jpg); /*Background image pada bagian Home*/
  min-height: 100%; /*Elemen akan memiliki tinggi minimal 100% dari tinggi wadah induknya*/
  max-width: 100%; /*Elemen tidak akan melebihi lebar 100% dari wadah induknya*/
  height: auto;
  background-size:cover; /*mengatur ukuran gambar background-image*/
  background-position:center;
}

.pembuka{ 
  text-align: center; /*Menyelaraskan teks ke tengah elemen.*/
  padding: 130px 0;
}

.welcome{ /*kalimat <h1> yang ada di depan website*/
  font-weight:800;
  font-size: 128px;
  align-items: center; 
}

.temukan{ /*kalimat <h4> yang ada di bawah kalimat <h1>*/
  font-weight:500;
  font-size: 30px;
  align-items: center;
}

/* Bagian Konten Wisata */
.wisata{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/Konten.jpg); /* Background Image pada bagian Konten Wisata */
  max-width: 100%;
  height: auto;
  background-size:cover; /*mengatur ukuran gambar background-image*/
  background-position:center;
}

.kontenwisata{ /*mengatur tata letak dan font <h1> di bagian Konten Wisata*/
  padding-top: 70px; /*mengatur padding*/
  padding-left: 50px;
  padding-bottom: 20px;
  padding-right: 50px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.card-container { /*container card untuk Konten Wisata*/
  display: flex;
  justify-content: center; /*membuat card ini berada di tengah*/
  flex-wrap: wrap; /*Jika ruang tidak cukup, elemen-elemen akan pindah ke baris atau kolom berikutnya*/
  gap: 30px; /*untuk mengatur jarak antara item-item dalam layout card*/
}

/* Card Styling */
.card {
  background-color: white; /*warna background nya putih*/
  border-radius: 10px; /*untuk membuat sudutnya melengkung*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /*menyembunyikan konten yang melebihi batas*/
  max-width: 360px;
  transition: transform 0.2s;
  margin-top: 20px;
  margin-bottom: 20px; /*margin bawah*/
  margin-left: 45px; /*margin kiri*/
  margin-right: 45px;/*margin kanan*/
}

.card:hover {
  transform: translateY(-10px); /*ketika di hover maka akan menggeser sepanjang sumbu Y*/
}

.card img {
  width: 370px;
  height: 247px;
  object-fit: cover; /*ukuran disesuaikan berdasarkan wadah yang menampungnya*/
}

.card-content {
  padding: 20px;
  color: black;
}

.card-content h2 {
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 500;
}

.card-content h3 {
  font-weight: 500;
}

.card-content p {
  font-size: 10px;
  margin-bottom: 20px;
  color: #555;
}

.card-content button {
  background-color: white;
  color: black;
  margin-left: 160px;
  padding: 10px 30px;
  border-radius: 19px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s; /*untuk membuat efek transisi halus saat warna latar belakang suatu elemen berubah*/
  margin: px 91px;
}

.card-content button:hover {
  background-color: #f1f1f1cb; /*jika di hover maka warna background button nya akan berubah warnanya menjadi ini*/
}

/* Bagian Gallery */
.gallery{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/Gallery.jpg); /*Background image pada bagian Gallery*/
  color: white;
  max-width: 100%;
  height: auto;
  background-size:cover;
  background-position:center;
}

.gallery h1{ /*Teks yang ada dibawah gambar pada bagian Gallery*/
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 40px;
}

.gambarcont{
  display: flex; /* mengubah tampilan elemen menjadi sebuah flex container*/
  flex-wrap: wrap; /*Jika ruang tidak cukup, elemen-elemen akan pindah ke baris atau kolom berikutnya*/
  flex-direction: row; /*akan menjadi baris*/
}

.gambarcont a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.item {
  margin-bottom: 20px;
  text-align: center;
}

.item img{
  width:280px;
  height: 310px;
  object-fit: cover;
  object-position: center;  
  border-radius: 4%;
  filter: brightness(80%); /*membuat gambar agak gelap*/
  margin-left: 30px;
  transition: transform .2s; /* Waktu transisi */

}

.item img:hover{
  transform: scale(1.05); /*mengubah gambar menjadi diperbesar sebesar 1.05 kali ukuran aslinya ketika di hover*/
}

.item p{
  font-weight: 700;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*Footer*/
.footer-basic {
  padding:10px 0;
  background-color:#dcdcdc;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:10px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar{
    position: fixed;
  }
  
  .navbar-brand {
    font-size: 1.25rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .welcome h1 {
    font-size: 3em;
  }

  .card-container {
    flex-direction: column; /*akan menjadi kolom*/
    align-items: center;
  }

  .card {
      max-width: 80%;
  }

  .welcome{
    font-size: 60px;
  }

  .temukan{
    font-size: 12px;
  }

  .gambarcont {
    flex-direction: column; /*akan menjadi kolom*/
    align-items: center;
  }

  .item img{
    max-width: 90%
  }

}